{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<header id="top" class="small-header">
            <nav>
                <div class="row">
                    <a href="#top"> <img src="{% static 'snippy_logo_black.png' %}" alt="Snippy logo" class="logo"></a>
                    <h1 class="snippyTitle other-nav-title">Snippy</h1>
                    <ul class="white-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'tools' %}">Tools</a></li>
                        <li><a href="{% url 'works' %}">How it works</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li  class="active"><a href="{% url 'login' %}">Sign in</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    <section class="section-contact">
                <div class="row">
                    <h2>Let's Get Started!</h2>    
                </div>
                <div class="row">
                    <form method="post" action="#" class="contact-form">
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="username">UserName</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="text" name="username" id="username" placeholder="type your username" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="password">Password</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="password" name="password" id="password" placeholder="type your password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label>&nbsp;</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="submit" value="Log In">
                            </div>
                        </div>
                    </form>
                    <div class="signup">
                        <h4>Not a Member? <a href="{% url 'signup' %}">Sign up!</a></h4>
                    </div>
            </div>
    </section>
<!--
	<a href="{% url 'index' %}">Back to item list</a>
	<h3>{{ item.title|capfirst }}</h3>
	<p> {{ item.amount }} currently in stock</p>
	<h4>Description:</h4>
	<p> {{ item.description }}</p>
-->
{% endblock %}