{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<header id="top" class="small-header">
            <nav class="other-nav">
                <div class="row">
                    <a href="#top"> <img src="{% static 'snippy_logo_black.png' %}" alt="Snippy logo" class="logo"></a>
                    <h1 class="snippyTitle other-nav-title">Snippy</h1>
                    <ul class="white-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active"><a href="{% url 'tools' %}">Tools</a></li>
                        <li><a href="{% url 'works' %}">How it works</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="section-tools">
            <div>
                <h2>Oncotator</h2>
            </div>
            <div>
                <p class="long-copy">
                    Oncotator is a SNP annotation tool from Broad Institute that annotates point mutations and indels with functional data relevant to cancer researchers. <br><br>Annotations include:<br> </p> 
                    <div class="col span-3-of-3">
                        <h3>Genomic Annotations</h3>
                        <ul>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Gene, transcript, and functional consequence annotations using GENCODE for hg19</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Reference sequence around a variant</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>GC content around a variant</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Human DNA Repair Gene annotations from Wood et al</li>
                        </ul>
                    </div>
                
                    <div class="col span-3-of-3">
                        <h3>Protein Annotations</h3>
                        <ul>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Site-specific protein annotations from UniProt</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Functional impact predictions from dbNSFP</li>
                        </ul>
                    </div>
                
                    <div class="col span-3-of-3">
                        <h3>Cancer Variant Annotations</h3>
                        <ul>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Observed cancer mutation frequency annotations from COSMIC</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Cancer gene and mutation annotations from the Cancer GenCensus</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Overlapping mutations from the Cancer Cell Line Encyclopedia</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Cancer gene annotations from the Familial Cancer Database</li>
                        </ul>
                    </div>
                
                    <div class="col span-3-of-3">
                        <h3>Non-Cancer Variant Annotations</h3>
                        <ul>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Common SNP annotations from dbSNP</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Variant annotations from 1000 Genomes</li>
                            <li><i class="ion-ios-checkmark-empty icon-small"></i>Variant annotations from NHLBI GO Exome Sequencing Project (ESP)</li>
                        </ul>
                    </div>
                
                <p class="long-copy"><br>
                    <a href="http://www.broadinstitute.org/oncotator/help/">Read more..</a></p>
                <div class="long-copy">
                        <a href="{% url 'login' %}" class="btn btn-full">Go to Oncotator</a>
                </div>
            </div>

        </section>
<!--
	<a href="{% url 'index' %}">Back to item list</a>
	<h3>{{ item.title|capfirst }}</h3>
	<p> {{ item.amount }} currently in stock</p>
	<h4>Description:</h4>
	<p> {{ item.description }}</p>
-->
{% endblock %}