{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<header id="top" class="small-header">
            <nav class="other-nav">
                <div class="row">
                    <a class="mobile-nav js--nav-icon"><i class="ion-navicon-round menu-icon"></i></a>
                    <a href="#top"> <img src="{% static 'snippy_logo_black.png' %}" alt="Snippy logo" class="logo"></a>
                    <a href="#top"> <img src="{% static 'snippy_logo_black.png' %}" alt="Snippy logo" class="logo-black"></a>
                    <h1 class="snippyTitle other-nav-title">Snippy</h1>
                    <ul class="white-nav js--main-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'tools' %}">Tools</a></li>
                        <li><a href="{% url 'works' %}">How it works</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li  class="active"><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="section-plans js--section-features" id="signup">
            <div class="row">
                <h2>Sign Up Now to Explore SNP Tools!</h2>
            </div>
            <div class="row">
                <form method="post" action="/signup_form/" class="signup-form">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <input class="signup_submit long-copy" type="submit" value="Sign Up">
                </form>
        </div>
            <div class="signup long-copy">
                        <h4>Already a Member? <a href="{% url 'login' %}">Sign in!</a></h4>
                    </div>
        </section>
{% endblock %}